* {
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #f1f3ff;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  z-index: 99;
}

.navbar-brand {
  background: #0d28a6;
  width: 100px;
  height: 35px;
}

.nav-item {
  padding-right: 0.9rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #0d28a6;
}

.btn-g-green {
  height: auto;
  background-color: #5cb85f;
  border-color: #2a2c2a;
  color: white;
}

.btn-g-green:hover {
  height: auto;
  background-color: #86d488;
  border-color: #86d488;
  color: white;
}

.head-content {
  width: 100%;
  background-color: #f1f3ff;
  padding-top: 100px;
}

.head-content h1{
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}
.head-content p{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.our-service {
  padding: 100px 0px;
}

.our-service .img-user {
  height: 450px;
}

.our-service .list-service {
  height: 450px;
}

.list-service .title-service {
  font-size: 2vw;
}

.list-service .desc-service {
  font-size: 1.2vw;
}

.list-service .list-desc {
  font-size: 1.2vw;
}

.why-us {
  padding-bottom: 100px;
}

.card-testimonial {
  background-color: #f1f3ff;
}

.owl-carousel .owl-nav button.owl-next {
  background-color: #86d488 !important;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #86d488;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #b2dab3 !important;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #b2dab3;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-prev {
  background-color: white !important;
  font-weight: 600;
  color: #000000;
  border: 1px solid #b6b5b5;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: white !important;
  font-weight: 600;
  color: #898a89;
  border: 1px solid #b6b5b5;
  padding: 0 15px 1px 16px !important;
  font-size: 27px;
  border-radius: 100%;
  box-sizing: border-box;
}

.owl-carousel .owl-item img {
  display: inline;
  width: auto;
}

.card-testimonial {
  background-color: #f1f3ff;
}

.sewamobil{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sewamobil .jumbotron{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0D28A6;
  color: #ffffff;   
}
.sewamobil h1{
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
}
.sewamobil p{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.faq{
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.faq h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.faq p{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.connect span {
  margin-right: 10px;
}

@media only screen and (min-width: 360px) and (max-width: 500px) {
	.card-testimonial .col-2 img{
    margin: -35px 90px 5px 90px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
	.card-body img{
    margin: -15px 70px 5px 70px;
	}
}